body{
  background-color: rgb(187, 237, 255);
}
fieldset{
  margin: 20px;
  padding: 66px;
  text-align: center;
  width: 40px;
  background-color: rgb(171, 221, 250);
  border-radius: 15px;
}